@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Tangerine&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color:rgb(25, 23, 158);
    padding: 10px 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color:white;
    font-size:35px;
    font-weight: 600;
}
.nav {
   display: flex;
   align-items: center;
   padding: 10px;
}
.nav-item{
    margin-left: 7px;
}
.nav-item>a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
.nav-item>a:hover{
    background-color: white;
    color:black;
}
.banner{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.281),rgba(213, 205, 205, 0.308)),url(imagens/lencois.maranhenses.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    color:white;
    font-size: 60px;
    font-weight: 600;
}
.sub_titulo{
    color: white;
    font-size: 56px;
    font-weight: 600;
}
.botoes{
    margin-top:30px
}
button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border:0;
    margin:0 10px;
    font-size: 20px;
    font-weight: 500;
    padding:0 10px;
    outline:none;
    transition:0.3s;  
}
button.n-overlay{
    color:black;
    background: none;
    border:2px solid black;
}
button.n-overlay:hover{
    color:white;
    background-color:rgb(25, 23, 158) ;
}
button.overlay{
    color:black;
    background:none;
    border:2px solid black;
}
button.overlay:hover{
    color: white;
        background-color: rgb(25, 23, 158);
}